.hero {
    background-color: #4242D8;
}

.card {
    text-align: center;
    border: none;
}

.container img {
    width: 100%;
    height: auto;
}

.contact {
    background-image: url(../img/business-01.jpg);
}

.card-deck i {
    color: blue;
}

.rrss i {
    margin: .4em;
    color: silver;
}

.data p>i {
    color: #71B904;
}

.data,
.complete {
    background-color: #ffffff;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

footer {
  background-color: #2A2B2B;
  color: #B7BBBB;
}
span {
  font-weight: bold;
}

footer i {
  margin: .4em;
}

footer .col-4 {
  margin-top: 2em;
}
